@use 'base/variables' as v;
.section {
    margin-top: calc(v.$separacion / 2);
    margin-bottom: calc(v.$separacion / 2);
}
.contents-center {
    max-width: 800px;
}

.aling-right{
    display: flex;
    justify-content: flex-end;
}