@use 'base/mixins' as m;



.icon{
    text-align: center;
    img{
        height: 10rem;
    }
    h3{
        text-transform: uppercase;
    }
}

@include m.tablet{
    .icon-we{
        @include m.grid(3, 2rem);
    }
}
